In [152]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
import os
import numpy as np
import pandas as pd
import pickle
from scipy.sparse import csr_matrix, hstack
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import StratifiedKFold, TimeSeriesSplit
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import GridSearchCV, StratifiedKFold

In [2]:
PATH_TO_DATA = ('data')
train_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_sessions.csv'), index_col='session_id')
test_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'test_sessions.csv'), index_col='session_id')

In [4]:
train_df

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,2014-02-22 11:19:51,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,2013-12-16 16:40:19,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,2014-03-28 10:54:12,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,2014-02-28 10:55:23,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0
6,570,2014-03-18 15:18:31,21.0,2014-03-18 15:18:39,570.0,2014-03-18 15:23:02,21.0,2014-03-18 15:23:43,21.0,2014-03-18 15:29:57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,803,2014-02-13 16:45:35,23.0,2014-02-13 16:45:35,5956.0,2014-02-13 16:45:35,17513.0,2014-02-13 16:45:35,37.0,2014-02-13 16:46:05,...,2014-02-13 16:47:14,803.0,2014-02-13 16:47:14,17514.0,2014-02-13 16:47:15,17514.0,2014-02-13 16:47:16,17514.0,2014-02-13 16:47:17,0
8,22,2013-04-12 10:27:26,21.0,2013-04-12 10:27:26,29.0,2013-04-12 10:27:28,5041.0,2013-04-12 10:27:29,14422.0,2013-04-12 10:27:29,...,2013-04-12 10:27:29,21.0,2013-04-12 10:27:29,5041.0,2013-04-12 10:27:31,14421.0,2013-04-12 10:27:31,14421.0,2013-04-12 10:27:32,0
9,668,2014-03-17 16:23:08,940.0,2014-03-17 16:23:35,942.0,2014-03-17 16:23:35,941.0,2014-03-17 16:23:35,941.0,2014-03-17 16:23:36,...,2014-03-17 16:23:36,940.0,2014-03-17 16:23:36,23.0,2014-03-17 16:23:52,21.0,2014-03-17 16:23:52,22.0,2014-03-17 16:23:53,0
10,3700,2014-02-20 16:09:13,229.0,2014-02-20 16:10:08,570.0,2014-02-20 16:10:08,21.0,2014-02-20 16:10:08,229.0,2014-02-20 16:10:24,...,2014-02-20 16:10:24,21.0,2014-02-20 16:10:29,21.0,2014-02-20 16:10:39,2336.0,2014-02-20 16:10:40,2044.0,2014-02-20 16:10:40,0
11,229,2014-01-27 09:41:01,1500.0,2014-01-27 09:42:33,33.0,2014-01-27 09:42:33,1500.0,2014-01-27 09:42:34,391.0,2014-01-27 09:42:34,...,2014-01-27 09:42:34,29.0,2014-01-27 09:42:34,2276.0,2014-01-27 09:42:35,40305.0,2014-01-27 09:42:40,23.0,2014-01-27 09:42:41,0
12,37,2014-01-22 13:05:21,39.0,2014-01-22 13:05:24,3592.0,2014-01-22 13:05:32,890.0,2014-01-22 13:05:44,35.0,2014-01-22 13:05:44,...,2014-01-22 13:05:44,22.0,2014-01-22 13:05:44,30.0,2014-01-22 13:05:44,33.0,2014-01-22 13:05:44,3592.0,2014-01-22 13:05:44,0
13,23,2014-03-31 13:51:43,747.0,2014-03-31 13:51:44,23.0,2014-03-31 13:51:46,749.0,2014-03-31 13:51:46,23.0,2014-03-31 13:52:45,...,2014-03-31 13:52:46,752.0,2014-03-31 13:54:43,55.0,2014-03-31 14:10:12,56.0,2014-03-31 14:10:12,55.0,2014-03-31 14:10:13,0
14,262,2014-04-04 13:12:14,322.0,2014-04-04 13:12:15,625.0,2014-04-04 13:12:16,52.0,2014-04-04 13:12:16,37.0,2014-04-04 13:12:23,...,2014-04-04 13:12:31,21.0,2014-04-04 13:12:42,2164.0,2014-04-04 13:12:43,2164.0,2014-04-04 13:12:44,30.0,2014-04-04 13:12:45,0
15,2883,2014-03-22 11:33:00,2945.0,2014-03-22 11:33:16,167.0,2014-03-22 11:33:19,167.0,2014-03-22 11:33:20,167.0,2014-03-22 11:33:21,...,2014-03-22 11:33:21,3.0,2014-03-22 11:33:22,229.0,2014-03-22 11:33:27,21.0,2014-03-22 11:33:27,76.0,2014-03-22 11:33:27,0
16,28395,2014-02-04 09:31:46,248.0,2014-02-04 09:31:46,728.0,2014-02-04 09:31:47,3364.0,2014-02-04 09:31:47,3362.0,2014-02-04 09:31:47,...,2014-02-04 09:31:47,30.0,2014-02-04 09:31:47,102.0,2014-02-04 09:31:47,727.0,2014-02-04 09:31:47,28396.0,2014-02-04 09:31:47,0
17,63,2014-02-24 08:06:14,167.0,2014-02-24 08:07:25,167.0,2014-02-24 08:07:26,359.0,2014-02-24 08:07:27,167.0,2014-02-24 08:07:27,...,2014-02-24 08:07:30,167.0,2014-02-24 08:07:31,360.0,2014-02-24 08:07:31,363.0,2014-02-24 08:07:31,362.0,2014-02-24 08:07:31,0
18,178,2013-02-12 15:15:14,343.0,2013-02-12 15:15:14,167.0,2013-02-12 15:16:26,270.0,2013-02-12 15:16:26,167.0,2013-02-12 15:16:29,...,2013-02-12 15:16:31,2727.0,2013-02-12 15:16:31,2725.0,2013-02-12 15:16:31,2724.0,2013-02-12 15:16:31,2732.0,2013-02-12 15:16:31,0
19,22736,2013-04-12 11:06:58,22736.0,2013-04-12 11:07:08,22736.0,2013-04-12 11:07:19,22736.0,2013-04-12 11:07:28,22736.0,2013-04-12 11:07:38,...,2013-04-12 11:07:48,22736.0,2013-04-12 11:07:58,22736.0,2013-04-12 11:08:08,22736.0,2013-04-12 11:08:18,22736.0,2013-04-12 11:08:20,0
20,33,2014-01-29 11:27:15,35.0,2014-01-29 11:27:15,52.0,2014-01-29 11:27:16,23.0,2014-01-29 11:27:16,29.0,2014-01-29 11:27:16,...,2014-01-29 11:27:19,2439.0,2014-01-29 11:27:20,29.0,2014-01-29 11:27:20,803.0,2014-01-29 11:27:20,23.0,2014-01-29 11:27:20,0
21,676,2013-05-12 12:52:12,812.0,2013-05-12 12:52:12,982.0,2013-05-12 12:52:12,39.0,2013-05-12 12:52:12,812.0,2013-05-12 12:52:13,...,2013-05-12 12:52:16,677.0,2013-05-12 12:52:16,22616.0,2013-05-12 12:52:16,63.0,2013-05-12 12:52:35,679.0,2013-05-12 12:52:39,0
22,21,2014-02-04 09:59:41,21.0,2014-02-04 09:59:55,22.0,2014-02-04 09:59:56,23.0,2014-02-04 09:59:58,22.0,2014-02-04 10:00:56,...,2014-02-04 10:00:56,21.0,2014-02-04 10:00:57,23.0,2014-02-04 10:00:57,63.0,2014-02-04 10:02:48,NaN,NaN,0
23,782,2014-03-26 11:27:00,782.0,2014-03-26 11:27:30,782.0,2014-03-26 11:28:00,782.0,2014-03-26 11:28:30,782.0,2014-03-26 11:29:00,...,2014-03-26 11:29:30,780.0,2014-03-26 11:29:55,780.0,2014-03-26 11:29:57,782.0,2014-03-26 11:30:00,782.0,2014-03-26 11:30:30,0
24,812,2013-12-12 20:51:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
25,23,2013-11-21 12:59:23,16249.0,2013-11-21 12:59:24,16249.0,2013-11-21 12:59:25,66.0,2013-11-21 13:00:23,939.0,2013-11-21 13:00:24,...,2013-11-21 13:00:25,229.0,2013-11-21 13:00:30,21.0,2013-11-21 13:00:30,23.0,2013-11-21 13:00:30,7270.0,2013-11-21 13:00:32,0
26,23,2013-02-12 10:17:09,22.0,2013-02-12 10:17:09,25013.0,2013-02-12 10:17:21,25013.0,2013-02-12 10:18:06,3430.0,2013-02-12 10:18:06,...,2013-02-12 10:18:51,66.0,2013-02-12 10:19:33,63.0,2013-02-12 10:19:33,25013.0,2013-02-12 10:19:36,25013.0,2013-02-12 10:20:21,0
27,23,2014-02-04 08:47:31,291.0,2014-02-04 08:47:31,2894.0,2014-02-04 08:47:31,1643.0,2014-02-04 08:47:31,2893.0,2014-02-04 08:47:31,...,2014-02-04 08:47:32,291.0,2014-02-04 08:47:32,2896.0,2014-02-04 08:47:32,48.0,2014-02-04 08:48:28,291.0,2014-02-04 08:48:32,0
28,780,2014-03-25 10:43:58,780.0,2014-03-25 10:44:00,780.0,2014-03-25 10:44:05,780.0,2014-03-25 10:44:06,780.0,2014-03-25 10:44:08,...,2014-03-25 10:44:09,782.0,2014-03-25 10:44:20,780.0,2014-03-25 10:44:33,780.0,2014-03-25 10:44:34,780.0,2014-03-25 10:44:40,0
29,6289,2013-11-29 13:20:21,27963.0,2013-11-29 13:20:22,18257.0,2013-11-29 13:20:23,27962.0,2013-11-29 13:20:26,21.0,2013-11-29 13:20:26,...,2013-11-29 13:20:26,27961.0,2013-11-29 13:20:26,27954.0,2013-11-29 13:20:26,27954.0,2013-11-29 13:20:27,27960.0,2013-11-29 13:20:27,0
30,2740,2014-04-15 14:55:40,262.0,2014-04-15 14:55:41,539.0,2014-04-15 14:55:42,322.0,2014-04-15 14:55:42,148.0,2014-04-15 14:55:43,...,2014-04-15 14:55:43,293.0,2014-04-15 14:55:43,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253532,14678,2014-01-30 09:14:23,14677.0,2014-01-30 09:14:45,167.0,2014-01-30 09:14:56,167.0,2014-01-30 09:14:57,167.0,2014-01-30 09:15:07,...,2014-01-30 09:15:08,384.0,2014-01-30 09:15:22,167.0,2014-01-30 09:15:22,14677.0,2014-01-30 09:16:31,14678.0,2014-01-30 09:16:32,0
253533,22,2014-02-25 10:31:36,3346.0,2014-02-25 10:31:36,23.0,2014-02-25 10:31:36,12382.0,2014-02-25 10:31:38,12382.0,2014-02-25 10:31:39,...,2014-02-25 10:31:40,12382.0,2014-02-25 10:31:41,38.0,2014-02-25 10:31:42,12382.0,2014-02-25 10:31:42,12382.0,2014-02-25 10:31:45,0
253534,8,2014-03-25 14:52:48,1996.0,2014-03-25 14:52:48,1996.0,2014-03-25 14:52:49,32.0,2014-03-25 14:52:49,1997.0,2014-03-25 14:52:49,...,2014-03-25 14:52:50,1996.0,2014-03-25 14:52:50,30.0,2014-03-25 14:52:50,1997.0,2014-03-25 14:52:50,1998.0,2014-03-25 14:52:51,0
253535,2428,2013-11-25 10:48:37,2428.0,2013-11-25 10:48:50,2428.0,2013-11-25 10:49:02,2428.0,2013-11-25 10:49:14,2428.0,2013-11-25 10:49:26,...,2013-11-25 10:49:38,2428.0,2013-11-25 10:49:50,2428.0,2013-11-25 10:50:02,2428.0,2013-11-25 10:50:14,2428.0,2013-11-25 10:50:26,0
253536,76,2014-03-30 12:54:10,76.0,2014-03-30 12:54:18,82.0,2014-03-30 12:54:18,80.0,2014-03-30 12:54:18,80.0,2014-03-30 12:54:19,...,2014-03-30 12:54:19,77.0,2014-03-30 12:54:19,76.0,2014-03-30 12:54:25,80.0,2014-03-30 12:54:27,80.0,2014-03-30 12:54:28,0
253537,812,2013-12-16 10:01:48,173.0,2013-12-16 10:01:51,173.0,2013-12-16 10:02:03,21.0,2013-12-16 10:02:11,21.0,2013-12-16 10:02:14,...,2013-12-16 10:02:22,21.0,2013-12-16 10:02:23,23.0,2013-12-16 10:02:23,830.0,2013-12-16 10:02:23,22.0,2013-12-16 10:02:23,0
253538,306,2014-02-04 13:59:54,56.0,2014-02-04 14:03:58,55.0,2014-02-04 14:03:58,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
253539,29,2013-11-22 16:48:11,2097.0,2013-11-22 16:48:12,33.0,2013-11-22 16:48:13,29.0,2013-11-22 16:48:13,35.0,2013-11-22 16:48:13,...,2013-11-22 16:48:14,22.0,2013-11-22 16:48:14,2097.0,2013-11-22 16:48:15,35.0,2013-11-22 16:48:16,33.0,2013-11-22 16:48:16,0
253540,2050,2014-02-18 10:33:46,2856.0,2014-02-18 10:33:46,570.0,2014-02-18 10:33:46,29.0,2014-02-18 10:33:46,22935.0,2014-02-18 10:33:47,...,2014-02-18 10:33:47,18544.0,2014-02-18 10:33:48,22935.0,2014-02-18 10:33:48,29.0,2014-02-18 10:33:48,22935.0,2014-02-18 10:33:49,0
253541,782,2014-03-17 10:14:03,782.0,2014-03-17 10:14:33,780.0,2014-03-17 10:14:43,780.0,2014-03-17 10:14:52,780.0,2014-03-17 10:14:53,...,2014-03-17 10:14:59,778.0,2014-03-17 10:15:01,780.0,2014-03-17 10:15:01,782.0,2014-03-17 10:15:03,780.0,2014-03-17 10:15:03,0
253542,1514,2014-01-22 15:59:12,855.0,2014-01-22 15:59:12,1518.0,2014-01-22 15:59:12,1524.0,2014-01-22 15:59:13,1520.0,2014-01-22 15:59:13,...,2014-01-22 15:59:13,1524.0,2014-01-22 15:59:16,1524.0,2014-01-22 15:59:17,1519.0,2014-01-22 15:59:17,1524.0,2014-01-22 15:59:18,0
253543,912,2014-03-25 17:36:09,32.0,2014-03-25 17:36:09,35.0,2014-03-25 17:36:09,1647.0,2014-03-25 17:36:11,912.0,2014-03-25 17:36:11,...,2014-03-25 17:36:11,29.0,2014-03-25 17:36:11,21.0,2014-03-25 17:36:53,1645.0,2014-03-25 17:36:58,21.0,2014-03-25 17:36:58,0
253544,9738,2013-04-12 16:06:02,9740.0,2013-04-12 16:06:02,9738.0,2013-04-12 16:06:08,9738.0,2013-04-12 16:06:09,9740.0,2013-04-12 16:06:09,...,2013-04-12 16:06:10,9740.0,2013-04-12 16:06:10,3043.0,2013-04-12 16:06:11,32.0,2013-04-12 16:06:11,9738.0,2013-04-12 16:06:11,0
253545,6003,2014-04-20 17:21:48,6003.0,2014-04-20 17:21:49,6003.0,2014-04-20 17:21:51,6003.0,2014-04-20 17:21:54,6003.0,2014-04-20 17:21:57,...,2014-04-20 17:21:59,6003.0,2014-04-20 17:22:01,6003.0,2014-04-20 17:22:05,6003.0,2014-04-20 17:22:08,NaN,NaN,0
253546,4368,2014-02-24 10:13:49,17744.0,2014-02-24 10:14:02,17743.0,2014-02-24 10:14:03,29.0,2014-02-24 10:14:03,33.0,2014-02-24 10:14:03,...,2014-02-24 10:14:03,4368.0,2014-02-24 10:14:04,37.0,2014-02-24 10:14:11,948.0,2014-02-24 10:14:59,959.0,2014-02-24 10:14:59,0
253547,39,2014-02-27 14:53:54,8556.0,2014-02-27 14:53:54,1039.0,2014-02-27 14:53:57,812.0,2014-02-27 14:53:57,570.0,2014-02-27 14:53:58,...,2014-02-27 14:53:58,774.0,2014-02-27 14:53:58,812.0,2014-02-27 14:53:58,167.0,2014-02-27 14:55:41,167.0,2014-02-27 14:55:42,0
253548,677,2013-11-29 13:18:12,812.0,2013-11-29 13:18:56,812.0,2013-11-29 13:20:46,880.0,2013-11-29 13:21:22,677.0,2013-11-29 13:21:46,...,2013-11-29 13:21:55,812.0,2013-11-29 13:23:56,616.0,2013-11-29 13:25:09,812.0,2013-11-29 13:25:46,677.0,2013-11-29 13:25:58,0
253549,3,2014-02-17 16:53:26,8.0,2014-02-17 16:53:39,3.0,2014-02-17 16:53:43,4.0,2014-02-17 16:53:45,3303.0,2014-02-17 16:53:45,...,2014-02-17 16:53:48,14.0,2014-02-17 16:53:48,8.0,2014-02-17 16:53:49,14.0,2014-02-17 16:53:49,20488.0,2014-02-17 16:53:49,0
253550,77,2014-03-24 11:49:51,75.0,2014-03-24 11:49:51,77.0,2014-03-24 11:49:53,75.0,2014-03-24 11:49:56,55.0,2014-03-24 11:50:02,...,2014-03-24 11:50:02,55.0,2014-03-24 11:50:03,76.0,2014-03-24 11:50:05,75.0,2014-03-24 11:50:05,80.0,2014-03-24 11:50:05,0
253551,1039,2014-03-26 14:11:42,812.0,2014-03-26 14:21:17,1039.0,2014-03-26 14:23:57,774.0,2014-03-26 14:25:17,1039.0,2014-03-26 14:27:57,...,2014-03-26 14:35:40,1039.0,2014-03-26 14:35:42,774.0,2014-03-26 14:39:41,1039.0,2014-03-26 14:39:42,NaN,NaN,0
253552,677,2014-02-19 15:05:24,812.0,2014-02-19 15:05:24,812.0,2014-02-19 15:05:25,774.0,2014-02-19 15:05:57,22.0,2014-02-19 15:05:57,...,2014-02-19 15:06:11,812.0,2014-02-19 15:09:39,570.0,2014-02-19 15:09:39,570.0,2014-02-19 15:14:15,570.0,2014-02-19 15:14:25,0
253553,778,2013-11-15 08:34:48,780.0,2013-11-15 08:34:49,780.0,2013-11-15 08:34:59,778.0,2013-11-15 08:35:00,780.0,2013-11-15 08:35:01,...,2013-11-15 08:35:03,780.0,2013-11-15 08:35:04,780.0,2013-11-15 08:35:15,778.0,2013-11-15 08:35:16,780.0,2013-11-15 08:35:17,0
253554,23797,2014-04-15 13:11:32,1171.0,2014-04-15 13:11:34,3.0,2014-04-15 13:11:35,3.0,2014-04-15 13:11:37,8.0,2014-04-15 13:11:38,...,2014-04-15 13:11:50,3.0,2014-04-15 13:11:52,25722.0,2014-04-15 13:11:54,25723.0,2014-04-15 13:11:55,4.0,2014-04-15 13:11:58,0
253555,71,2014-01-29 09:24:35,29.0,2014-01-29 09:24:35,570.0,2014-01-29 09:24:42,29.0,2014-01-29 09:24:46,3.0,2014-01-29 09:25:12,...,2014-01-29 09:25:13,5586.0,2014-01-29 09:25:16,5587.0,2014-01-29 09:25:24,5587.0,2014-01-29 09:25:25,5587.0,2014-01-29 09:25:26,0
253556,9041,2013-04-12 13:11:57,291.0,2013-04-12 13:12:01,23.0,2013-04-12 13:12:03,52.0,2013-04-12 13:12:03,23.0,2013-04-12 13:12:06,...,2013-04-12 13:12:06,2371.0,2013-04-12 13:12:07,2371.0,2013-04-12 13:12:09,52.0,2013-04-12 13:12:12,52.0,2013-04-12 13:12:13,0
253557,3474,2013-11-25 10:26:54,3474.0,2013-11-25 10:26:58,141.0,2013-11-25 10:27:03,2428.0,2013-11-25 10:27:04,106.0,2013-11-25 10:27:13,...,2013-11-25 10:27:16,2428.0,2013-11-25 10:27:28,2428.0,2013-11-25 10:27:40,2428.0,2013-11-25 10:27:52,148.0,2013-11-25 10:27:53,0
253558,12727,2013-03-12 16:01:15,12727.0,2013-03-12 16:01:16,2215.0,2013-03-12 16:01:16,38.0,2013-03-12 16:01:17,2215.0,2013-03-12 16:01:17,...,2013-03-12 16:01:17,25444.0,2013-03-12 16:01:18,2215.0,2013-03-12 16:01:18,23.0,2013-03-12 16:01:18,21.0,2013-03-12 16:01:18,0
253559,2661,2013-09-12 14:05:03,15004.0,2013-09-12 14:05:10,5562.0,2013-09-12 14:05:10,5562.0,2013-09-12 14:06:29,5562.0,2013-09-12 14:06:30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
253560,812,2013-12-19 15:20:22,676.0,2013-12-19 15:20:22,814.0,2013-12-19 15:20:22,22.0,2013-12-19 15:20:22,39.0,2013-12-19 15:20:22,...,2013-12-19 15:20:23,814.0,2013-12-19 15:20:23,570.0,2013-12-19 15:20:23,22.0,2013-12-19 15:20:24,570.0,2013-12-19 15:20:24,0
253561,34942,2014-04-25 09:56:52,1429.0,2014-04-25 09:56:53,34942.0,2014-04-25 09:56:53,29.0,2014-04-25 09:56:54,30.0,2014-04-25 09:56:54,...,2014-04-25 09:56:54,5779.0,2014-04-25 09:56:54,30.0,2014-04-25 09:56:55,35.0,2014-04-25 09:56:55,33.0,2014-04-25 09:56:55,0

In [3]:
y = train_df['target']

In [5]:
times = ['time%s' % i for i in range(1, 11)]

In [7]:
train_df[times] = train_df[times].apply(pd.to_datetime)

In [9]:
test_df[times] = test_df[times].apply(pd.to_datetime)

In [10]:
train_df = train_df.sort_values(by = 'time1')

In [11]:
train_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55.0,2013-01-12 08:05:57,NaN,NaT,NaN,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
54843,56,2013-01-12 08:37:23,55.0,2013-01-12 08:37:23,56.0,2013-01-12 09:07:07,55.0,2013-01-12 09:07:09,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
77292,946,2013-01-12 08:50:13,946.0,2013-01-12 08:50:14,951.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:16,...,2013-01-12 08:50:16,948.0,2013-01-12 08:50:16,784.0,2013-01-12 08:50:16,949.0,2013-01-12 08:50:17,946.0,2013-01-12 08:50:17,0
114021,945,2013-01-12 08:50:17,948.0,2013-01-12 08:50:17,949.0,2013-01-12 08:50:18,948.0,2013-01-12 08:50:18,945.0,2013-01-12 08:50:18,...,2013-01-12 08:50:18,947.0,2013-01-12 08:50:19,945.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:20,0
146670,947,2013-01-12 08:50:20,950.0,2013-01-12 08:50:20,948.0,2013-01-12 08:50:20,947.0,2013-01-12 08:50:21,950.0,2013-01-12 08:50:21,...,2013-01-12 08:50:21,946.0,2013-01-12 08:50:21,951.0,2013-01-12 08:50:22,946.0,2013-01-12 08:50:22,947.0,2013-01-12 08:50:22,0

In [12]:
sites = ['site%s' % i for i in range(1, 11)]

In [13]:
train_df[sites] = train_df[sites].fillna(0).astype('int')

In [14]:
test_df[sites] = test_df[sites].fillna(0).astype('int')

In [17]:
with open(r"data/site_dic.pkl", "rb") as input_file:
    site_dict = pickle.load(input_file)

In [18]:
sites_dict_df = pd.DataFrame(list(site_dict.keys()),
                            index = list(site_dict.values()),
                            columns = ['site'])

In [19]:
print(u'total sites:', sites_dict_df.shape[0])

total sites: 48371

In [20]:
sites_dict_df.head()

                                     site
25075              www.abmecatronique.com
13997                     groups.live.com
42436  majeureliguefootball.wordpress.com
30911           cdt46.media.tourinsoft.eu
8104                  www.hdwallpapers.eu

In [21]:
y_train = train_df['target']

In [22]:
full_df = pd.concat([train_df.drop('target', axis = 1), test_df])

In [29]:
idx_split = train_df.shape[0]

In [24]:
full_sites = full_df[sites]
full_sites.head()

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
21669,56,55,0,0,0,0,0,0,0,0
54843,56,55,56,55,0,0,0,0,0,0
77292,946,946,951,946,946,945,948,784,949,946
114021,945,948,949,948,945,946,947,945,946,946
146670,947,950,948,947,950,952,946,951,946,947

In [258]:
tfidf_vectorizer = TfidfVectorizer(ngram_range=(1,3) ,max_features=100000, token_pattern=r'(?u)\b\w+\b')

In [254]:
full_sites['inline'] = full_sites.to_string(index = False, header = False).split('\n')

In [262]:
full_sites_sparse = tfidf_vectorizer.fit_transform(full_sites['inline'])

In [25]:
from scipy.sparse import csr_matrix

In [26]:
csr_matrix?

In [27]:
full_sites.values.flatten()

array([  56,   55,    0, ..., 1098, 1098, 1098])

In [28]:
#   
sites_flatten = full_sites.values.flatten()

#  
full_sites_sparse = csr_matrix(([1] * sites_flatten.shape[0],
                                sites_flatten,
                                range(0, sites_flatten.shape[0] + 10, 10)))[:, 1:]

In [263]:
X_train_sparse = full_sites_sparse[:idx_split]
X_test_sparse = full_sites_sparse[idx_split:]

In [264]:
X_train_sparse.shape, y_train.shape

((253561, 100000), (253561,))

In [265]:
X_test_sparse.shape

(82797, 100000)

In [141]:
def get_auc_lr_valid(X, y, C = 1.0, ratio = 0.9, seed = 17):
    train_len = int(ratio * X.shape[0])
    X_train = X[:train_len, :]
    X_valid = X[train_len:, :]
    y_train = y[:train_len]
    y_valid = y[train_len:]
    
    logit = LogisticRegression(C = C, n_jobs = -1, random_state = seed)
    
    logit.fit(X_train, y_train)
    
    valid_pred = logit.predict_proba(X_valid)[:, 1]
    
    return roc_auc_score(y_valid, valid_pred)

In [35]:
get_auc_lr_valid(X_train_sparse, y_train)

0.9195289734309581

In [37]:
def write_to_submission_file(predicted_labels, out_file,
                            target = 'target', index_labes = "session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                               index = np.arange(1, predicted_labels.shape[0] + 1),
                               columns = [target])
    predicted_df.to_csv(out_file, index_label = index_label)

In [38]:
%%time
logit = LogisticRegression(n_jobs=-1, random_state=17)
logit.fit(X_train_sparse, y_train)

CPU times: user 3.7 s, sys: 28.7 ms, total: 3.73 s
Wall time: 3.73 s

In [39]:
test_pred = logit.predict_proba(X_test_sparse)[:, 1]

In [40]:
test_pred.shape

(82797,)

In [51]:
pd.Series(test_pred, index = range(1, test_pred.shape[0] + 1),
         name = 'target').to_csv('benchmark1.csv', header = True, index_label = 'session_id')

In [52]:
!head benchmark1.csv

session_id,target
1,0.0022099552636363606
2,4.808795918257945e-09
3,1.8729296476310883e-08
4,2.353990648464104e-08
5,3.131124341228164e-05
6,0.00021845651476912005
7,0.0005478776444933022
8,0.00013228235242444572
9,0.0007952123906636395

In [54]:
time = ['time%d' % i for i in range(1, 11)]

In [65]:
new_feat_train = pd.DataFrame(index = train_df.index)
new_feat_test = pd.DataFrame(index = test_df.index)

In [237]:
new_feat_train['month'] = train_df['time1'].apply(lambda ts: ts.month)
new_feat_test['month'] = test_df['time1'].apply(lambda ts: ts.month)

In [67]:
new_feat_train.head()

            year_month
session_id
21669           201301
54843           201301
77292           201301
114021          201301
146670          201301

In [238]:
scaler = StandardScaler()
scaler.fit(new_feat_train['month'].values.reshape(-1, 1))

new_feat_train['month_scaled'] = scaler.transform(new_feat_train['month'].values.reshape(-1, 1))
new_feat_test['month_scaled'] = scaler.transform(new_feat_test['month'].values.reshape(-1, 1))

In [73]:
new_feat_train.head()

            year_month  year_month_scaled
session_id
21669           201301          -1.744405
54843           201301          -1.744405
77292           201301          -1.744405
114021          201301          -1.744405
146670          201301          -1.744405

In [266]:
X_train_sparse_new = csr_matrix(hstack([X_train_sparse,
                                        new_feat_train['month_scaled'].values.reshape(-1,1)]))
X_test_sparse_new = csr_matrix(hstack([X_test_sparse,
                                        new_feat_test['month_scaled'].values.reshape(-1,1)]))

In [82]:
%%time

get_auc_lr_valid(X_train_sparse_new, y_train)

CPU times: user 2.91 s, sys: 37.4 ms, total: 2.95 s
Wall time: 2.95 s

0.9196929090450192

In [80]:
X_train_sparse_new.shape

(253561, 48372)

In [227]:
new_feat_train['start_hour'] = train_df['time1'].apply(lambda ts: ts.hour)
new_feat_test['start_hour'] = test_df['time1'].apply(lambda ts: ts.hour)

In [228]:
scaler = StandardScaler()
scaler.fit(new_feat_train['start_hour'].values.reshape(-1, 1))

new_feat_train['start_hour_scaled'] = scaler.transform(new_feat_train['start_hour'].values.reshape(-1, 1))
new_feat_test['start_hour_scaled'] = scaler.transform(new_feat_test['start_hour'].values.reshape(-1, 1))

In [94]:
new_feat_train.head()

,year_month,year_month_scaled,start_hour,start_hour_scaled,morning
session_id,,,,,
21669,201301,-1.744405,8,-1.357366,1
54843,201301,-1.744405,8,-1.357366,1
77292,201301,-1.744405,8,-1.357366,1
114021,201301,-1.744405,8,-1.357366,1
146670,201301,-1.744405,8,-1.357366,1

In [229]:
X_train_sparse_new1 = csr_matrix(hstack([X_train_sparse_new,
                                        new_feat_train['start_hour_scaled'].values.reshape(-1,1)]))

In [230]:
X_test_sparse_new1 = csr_matrix(hstack([X_test_sparse_new,
                                        new_feat_test['start_hour_scaled'].values.reshape(-1,1)]))

In [116]:
%%time

get_auc_lr_valid(X_train_sparse_new, y_train)

CPU times: user 2.95 s, sys: 37.5 ms, total: 2.98 s
Wall time: 3 s

0.9196929090450192

In [115]:
%%time
get_auc_lr_valid(X_train_sparse_new1, y_train)

CPU times: user 3.14 s, sys: 49.7 ms, total: 3.19 s
Wall time: 3.2 s

0.9579182863988388

In [183]:
# new_feat_train['morning'] = train_df['time1'].apply(lambda x: 1 if x.hour > 8 and x.hour <= 11 else 0)
# new_feat_test['morning'] = test_df['time1'].apply(lambda x: 1 if x.hour > 8 and x.hour <= 11 else 0)

In [184]:
new_feat_train.sample(5)

,year_month,year_month_scaled,start_hour,start_hour_scaled,morning,day,evening,night,dow,is_weekend,is_sunday,is_begin_month
session_id,,,,,,,,,,,,
53320,201404,0.681626,15,0.858234,0,1,0,0,0,0,0,1
164405,201304,-1.673744,13,0.225205,0,1,0,0,4,0,0,1
227861,201311,-1.508868,15,0.858234,0,1,0,0,0,0,0,0
114766,201312,-1.485314,22,3.073835,0,0,1,0,6,1,1,1
52797,201305,-1.650190,17,1.491263,0,1,0,0,6,1,1,1

In [186]:
X_train_sparse_new2 = csr_matrix(hstack([X_train_sparse_new1,
                                        new_feat_train['morning'].values.reshape(-1,1)]))
X_test_sparse_new2 = csr_matrix(hstack([X_test_sparse_new1,
                                        new_feat_test['morning'].values.reshape(-1,1)]))

In [187]:
%%time
get_auc_lr_valid(X_train_sparse_new2, y_train)

CPU times: user 3 s, sys: 36.3 ms, total: 3.04 s
Wall time: 3.04 s

0.9592743026245397

In [219]:
new_feat_train['day1'] = train_df['time1'].apply(lambda x: 1 if x.hour >= 12 and x.hour < 14 else 0)
new_feat_test['day1'] = test_df['time1'].apply(lambda x: 1 if x.hour >= 12 and x.hour < 14 else 0)

new_feat_train['morning'] = train_df['time1'].apply(lambda x: 1 if x.hour > 8 and x.hour <= 11 else 0)
new_feat_test['morning'] = test_df['time1'].apply(lambda x: 1 if x.hour > 8 and x.hour <= 11 else 0)

new_feat_train['day2'] = train_df['time1'].apply(lambda x: 1 if x.hour > 15 and x.hour <= 18 else 0)
new_feat_test['day2'] = test_df['time1'].apply(lambda x: 1 if x.hour > 15 and x.hour <= 18 else 0)

new_feat_train['evening'] = train_df['time1'].apply(lambda x: 1 if x.hour > 18 else 0)
new_feat_test['evening'] = test_df['time1'].apply(lambda x: 1 if x.hour > 18 else 0)

new_feat_train['night'] = train_df['time1'].apply(lambda x: 1 if x.hour <= 8 else 0)
new_feat_test['night'] = test_df['time1'].apply(lambda x: 1 if x.hour <= 8 else 0)

In [280]:
X_train_sparse_new3 = csr_matrix(hstack([X_train_sparse_new,
                                        new_feat_train['day1'].values.reshape(-1,1),
                                         new_feat_train['morning'].values.reshape(-1,1),
                                         new_feat_train['day2'].values.reshape(-1,1),
                                        new_feat_train['evening'].values.reshape(-1,1),
                                        new_feat_train['night'].values.reshape(-1,1),
                                        new_feat_train['is_sunday'].values.reshape(-1,1),
                                        new_feat_train['is_begin_month'].values.reshape(-1,1)
#                                          new_feat_train['dow'].values.reshape(-1,1)
                                        ]))
X_test_sparse_new3 = csr_matrix(hstack([X_test_sparse_new,
                                        new_feat_test['day1'].values.reshape(-1,1),
                                        new_feat_test['morning'].values.reshape(-1,1),
                                        new_feat_test['day2'].values.reshape(-1,1),
                                        new_feat_test['evening'].values.reshape(-1,1),
                                        new_feat_test['night'].values.reshape(-1,1),
                                       new_feat_test['is_sunday'].values.reshape(-1,1),
#                                         new_feat_test['dow'].values.reshape(-1,1),
                                       new_feat_test['is_begin_month'].values.reshape(-1,1)
                                       ]))

In [194]:
%%time
get_auc_lr_valid(X_train_sparse_new3, y_train)

CPU times: user 2.78 s, sys: 33.6 ms, total: 2.82 s
Wall time: 2.82 s

0.9759279570905323

In [ ]:
0.9629554572143143

In [190]:
new_feat_train['dow'] = train_df['time1'].apply(lambda x: x.date().weekday())
new_feat_train['is_weekend'] = train_df['time1'].apply(lambda x: 1 if x.date().weekday() in (5, 6) else 0)

new_feat_test['dow'] = test_df['time1'].apply(lambda x: x.date().weekday())
new_feat_test['is_weekend'] = test_df['time1'].apply(lambda x: 1 if x.date().weekday() in (5, 6) else 0)

In [191]:
new_feat_train['is_sunday'] = train_df['time1'].apply(lambda x: 1 if x.date().weekday() == 6 else 0)
new_feat_test['is_sunday'] = test_df['time1'].apply(lambda x: 1 if x.date().weekday() == 6 else 0)

In [274]:
new_feat_train['is_begin_month'] = train_df['time1'].apply(lambda x: 1 if x.day < 15 else 0)
new_feat_test['is_begin_month'] = test_df['time1'].apply(lambda x: 1 if x.day < 15 else 0)

In [245]:
params = {
        'penalty': ['l2', 'l1'],
         'C': np.logspace(-3, 1, 10),
         'class_weight': ['balanced', None]
}

In [246]:
logit = LogisticRegression(n_jobs=-1, random_state=17)

In [164]:
%%time
logit.fit(X_train_sparse_new3, y_train)

CPU times: user 7.54 s, sys: 27.4 ms, total: 7.57 s
Wall time: 7.61 s

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=-1, penalty='l2', random_state=17,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [196]:
sp = TimeSeriesSplit(3)

In [247]:
res = GridSearchCV(logit, params, n_jobs = -1, verbose = 1, scoring = 'roc_auc', cv=sp)

In [281]:
%%time
res.fit(X_train_sparse_new3, y_train)

Fitting 3 folds for each of 40 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   22.5s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  3.2min finished

CPU times: user 21 s, sys: 582 ms, total: 21.6 s
Wall time: 3min 21s

GridSearchCV(cv=TimeSeriesSplit(max_train_size=None, n_splits=3),
       error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=-1,
          penalty='l2', random_state=17, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'penalty': ['l2', 'l1'], 'C': array([1.00000e-03, 2.78256e-03, 7.74264e-03, 2.15443e-02, 5.99484e-02,
       1.66810e-01, 4.64159e-01, 1.29155e+00, 3.59381e+00, 1.00000e+01]), 'class_weight': ['balanced', None]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=1)

In [282]:
res.best_params_

{'C': 10.0, 'class_weight': None, 'penalty': 'l1'}

In [283]:

res.best_score_

0.9488015648113525

0.9494626592986343 baseline <br>
0.9494920763137062 {'C': 1.2915496650148828, 'class_weight': None, 'penalty': 'l2'} <br>
tfidf: 0.9545406078001493 ({'C': 10.0, 'class_weight': None, 'penalty': 'l2'} <br>
tfidf: 0.954929266993279

In [249]:
res.best_params_

{'C': 1.2915496650148828, 'class_weight': None, 'penalty': 'l2'}

In [250]:
res.best_score_

0.9494920763137062

In [242]:
res.best_score_

0.9494626592986343

# Vectorizing

In [273]:
test_pred = res.predict_pr11oba(X_test_sparse_new3)[:, 1]
pd.Series(test_pred, index = range(1, test_pred.shape[0] + 1),
         name = 'target').to_csv('benchmark5.csv', header = True, index_label = 'session_id')

In [ ]:
alise_hours = defaultdict(int)
alise_hours[16] = 879
alise_hours[17] = 618
alise_hours[12] = 340
alise_hours[13] = 196
alise_hours[18] = 179
alise_hours[15] =  40
alise_hours[9]  =  38
alise_hours[14] =   4
alise_hours[11] =   3

alise_weekday = defaultdict(int)
alise_weekday[0]= 876
alise_weekday[1]= 508
alise_weekday[3]= 487
alise_weekday[4]= 346
alise_weekday[5]=  41
alise_weekday[2]=  38
alise_weekday[6]=   1